
#link {
    color: black;
    text-decoration: none;
}
.card-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
 }
 /*--header-nav--*/
 #subtitle{
    font-style: italic;
    font-size: 1.3rem;
}
.img-fond-nav{
    width: 100%;
    height: 19%;
    position: absolute;
    top: 0;
    left: 0;
}


/*--styles cartes--*/
#carte1{
    border-radius: 20px;
    border: 1px solid #A6A5A5;
    transition-duration: 500ms;
    transform: rotate(2deg);
    box-shadow: 6px 8px 2px 5px rgba(0, 0, 0, 0.11);
 
}
#carte1:hover{
    transition-duration: 500ms;
    transform: rotate(0deg);
}
/*--card title specify--*/
.card-title{
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    line-height: 26px;
    text-align: center;
    text-decoration-line: underline;    
}
/*--buton spec--*/
#btn,#btn2{
    background: linear-gradient(180deg, #F2A9E6 0%, rgba(243, 97, 97, 0) 100%);
    border-radius: 28px;
    text-decoration: none;
    color: black;
}
/*--footer--*/
footer{
    background: linear-gradient(180deg, #F2A9E6 0%, rgba(243, 97, 97, 0) 100%);
    font-size: .8rem;
}
#footerp2{
position: fixed;
bottom: 0;
width: 100%;
}